html,
body {
    overflow-x: hidden;
    background-image: url('https://c4.wallpaperflare.com/wallpaper/569/127/686/gray-texture-wallpaper-preview.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.navbar-brand{
    color: black;
}
.links {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    top: 50%;
    right: 0;
    z-index: 1;
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}

.links {
    padding-left: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    background-color: rgb(0, 0, 0);
    width: 200px;
    height: 50px;
    border-radius: 20px 0px 0px 20px;
    position: fixed;
    top: 300px;
    right: -160px;
    z-index: 1;
    color: #46AAAA;
    font-size: 16px;
    transition: right 0.9s ease-in-out;
}

.links:hover {
    right: 0px;
}


.home {
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 35px;
    position: fixed;
    border-radius: 10%;
    right: 0px;
    bottom: 20px;
}

.about , .services , .Portfolio , .contact{
    border: 1px solid rgb(14, 0, 0);
    border-radius: 9px;
    margin: 10px;
}

.home a {
    text-decoration: none;
    color: white;
}

.home a:hover {
    color: #46AAAA;
}

.navbar {
    background-color: white;
}


.nav-link {
    color: black;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;

}

.nav-link:hover {
    color: white !important;
    background-color: black;
}

.navbar-brand {
    font-size: 1.5rem !important;
    margin-left: 15px;
    color: red;
    font-weight: 600;
    text-decoration: none;
}

.main {
    background-size: cover !important;
    width: 100% !important;
    height: 100vh;
}

.main h3 {
    font-size: 4.4rem;
    font-weight: 700;
    color: white;
}

.main h4 {
    color: rgb(233, 20, 109);
    text-transform: uppercase;
    line-height: 1;
}

.main .bt1 {
    height: 55px;
    width: 138px;
    color: white;
    outline: none;
    border: none;
    font-weight: bold;
    background-color: rgb(202, 18, 95);
    border-radius: 5px;
}

.main .bt1:hover {
    background-color: rgb(233, 20, 109);
    transition: 0.5sec;
    color: black;
}

.main .bt2 {
    height: 55px;
    width: 138px;
    background-color: transparent;
    color: white;
    outline: none;
    border: 1px solid black;
    font-weight: bold;
    border-radius: 5px;
}

.main .bt2:hover {
    background-color: white;
    color: rgb(0, 0, 0);
}

.aboutimg {
    -webkit-box-shadow: 9px 9px 21px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 9px 9px 21px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 9px 9px 21px -10px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
}

.about h1 {
    font-size: 3rem !important;
    font-weight: bold !important;
}

h1{
    font-size: 3rem !important;
    font-weight: 700 !important;
}

.progress {
    font-size: 1rem !important;
    height: 20px !important;
}

.progress-bar {
    animation: progress-animation 2s ease-in-out forwards;
}

@keyframes progress-animation {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.progress-bar4 {
    animation: progress-animation4 2s ease-in-out forwards;
}

@keyframes progress-animation4 {
    from {
        width: 0;
    }

    to {
        width: 95%;
    }
}

.progress-bar2 {
    animation: progress-animation2 2s ease-in-out forwards;
}

@keyframes progress-animation2 {
    from {
        width: 0;
    }

    to {
        width: 80%;
    }
}

.progress-bar3 {
    animation: progress-animation3 2s ease-in-out forwards;
}

@keyframes progress-animation3 {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.progress-bar5 {
    animation: progress-animation5 2s ease-in-out forwards;
}

.ss {
    color: rgb(233, 20, 109);
    border-bottom: 1px solid black;
}

@keyframes progress-animation5 {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.progress-bar6 {
    background-color: rgb(233, 20, 109);
    animation: progress-animation6 2s ease-in-out forwards;
}

@keyframes progress-animation6 {
    from {
        width: 0;
    }

    to {
        width: 95%;
    }
}

.hcard {
    border: none;
    outline: none;

}

.card p {
    color: gray;
}


.circle {
    height: 70px;
    width: 70px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 253, 253);
    padding: 12px;
    border-radius: 50%;
    font-size: 30px;
    display: inline-block;
    margin-bottom: 20px;
}

.card:hover {
    -webkit-box-shadow: 0px 0px 42px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 42px -9px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 42px -9px rgba(0, 0, 0, 0.75);
    transition: 0.5s;

}

.card:hover .circle {
    background-color: black;
    color: rgb(147, 18, 18);
    transition: 0.5s;
}

.circle:hover {
    background-color: black;
    color: white;
    transition: 0.5s;
}

.Portfolio div ul li a {
    list-style: none;
    background-color: black;
    padding: 5px 15px;
    margin: 4px;
    color: white;
    display: inline-block;
    cursor: pointer;
    letter-spacing: 2px;
    border-radius: 5px;
}

.Portfolio div ul li a.nav-link.active {
    background-color: rgb(233, 20, 109);
}


.contact .btn3 {
    height: 55px;
    width: 138px;
    background-color: transparent;
    color: rgb(0, 0, 0);
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
}

.contact .btn3:hover {
    background-color: black;
    color: white;
}


label {
    width:55px;
    height:30px;
    position: relative;
    display: block;
    background: #ffffff;
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4), inset 0px -5px 15px rgba(255,255,255,0.4);
    cursor: pointer;
  }
  
  label:after {
    content: "";
    width:23px;
    height: 23px;
    position: absolute;
    top:4px;
    left:3px;
    background: linear-gradient(180deg,#ffcc89,#d8860b);
    border-radius: 180px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
  }
  input[type='checkbox'] {
    width: 0;
    height: 0;
    visibility: hidden;
  }
  input:checked + label {
    background: #242424;
  }
  input:checked + label:after {
    left:51px;
    transform: translateX(-100%);
    background: linear-gradient(180deg,#777,#3a3a3a);
  }
  label, label:after {
    transition: 0.3s
  }
  label svg {
    position: absolute;
    width:23px;
    top:4px;
    z-index: 100;
  }
  label svg.sun {
    left:3px;
    fill:#fff;
    transition: 0.3s;
  }
  label svg.moon {
    left:28px;
    fill:#7e7e7e;
    transition: 0.3s;
  }
  input:checked + label svg.sun {
    fill:#7e7e7e;
  }
  input:checked + label svg.moon {
    fill:#fff;
  }